<template>
  <component
    :is="computedTag"
    class="btn"
    :class="computedClasses"
    v-bind="computedAttrs"
    v-on="computedListeners"
  >
    <slot></slot>
  </component>
</template>

<script setup lang="ts">
import BLink from '../link/BLink.vue'
import { isLink as isLinkStrict } from '../../utils/router'
import { isTag } from '../../utils/dom'
import { computed, PropType, ref, useAttrs } from 'vue'
import { basicLinkProps } from '../link/BLink.props'

const props = defineProps({
  ...basicLinkProps,
  block: { type: Boolean, default: false },
  pill: { type: Boolean, default: false },
  pressed: { type: Boolean as PropType<boolean | null>, default: null },
  size: { type: String, default: undefined },
  squared: { type: Boolean, default: false },
  tag: { type: String, default: 'button' },
  type: { type: String, default: 'button' },
  variant: { type: String, default: 'secondary' },
})

const emit = defineEmits<{
  (e: 'update:pressed', pressed: boolean): void
}>()

// Is the requested button a link?
// If tag prop is set to `a`, we use a <b-link> to get proper disabled handling
const isLink = computed(() => isLinkStrict(props) || isTag(props.tag, 'a'))
// Is the button to be a toggle button?
const isToggle = computed(() => typeof props.pressed === 'boolean')

// Is the button "really" a button?
const isButton = computed(() => !isLink.value && isTag(props.tag, 'button'))

// Is the requested tag not a button or link?
const isNonStandardTag = computed(() => !isLink.value && !isButton.value)

const isFocused = ref(false)
// Compute required classes (non static classes)
const computedClasses = computed(() => ({
  [`btn-${props.variant}`]: true,
  [`btn-${props.size}`]: props.size,
  'btn-block': props.block,
  'rounded-pill': props.pill,
  'rounded-0': props.squared && !props.pill,
  disabled: props.disabled,
  active: props.pressed,
  focus: isFocused.value,
}))

const computedTag = computed(() => (isLink.value ? BLink : props.tag))

const attrs = useAttrs()
const role = computed(() =>
  isNonStandardTag.value || (isLink.value && props.href === '#') ? 'button' : attrs['role'] ?? null
)

// Compute the attributes for a button
const computedAttrs = computed(() => {
  const { value: button } = isButton
  const { value: link } = isLink
  const { value: toggle } = isToggle
  const { value: nonStandardTag } = isNonStandardTag
  const hashLink = link && props.href === '#'
  let tabindex = nonStandardTag || hashLink ? '0' : attrs['tabindex'] ?? null

  const linkProps = link
    ? Object.fromEntries(
        Object.entries(props).filter(([key]) => Object.keys(basicLinkProps).includes(key))
      )
    : {}

  return {
    // Type only used for "real" buttons
    type: button && !link ? props.type : null,
    // Disabled only set on "real" buttons
    disabled: button ? props.disabled : null,
    // We add a role of button when the tag is not a link or button for ARIA
    // Don't bork any role provided in `data.attrs` when `isLink` or `isButton`
    // Except when link has `href` of `#`
    // We set the `aria-disabled` state for non-standard tags
    'aria-disabled': nonStandardTag ? String(props.disabled) : null,
    // For toggles, we need to set the pressed state for ARIA
    'aria-pressed': toggle ? String(props.pressed) : null,
    // `autocomplete="off"` is needed in toggle mode to prevent some browsers
    // from remembering the previous setting when using the back button
    autocomplete: toggle ? 'off' : null,
    // `tabindex` is used when the component is not a button
    // Links are tabbable, but don't allow disabled, while non buttons or links
    // are not tabbable, so we mimic that functionality by disabling tabbing
    // when disabled, and adding a `tabindex="0"` to non buttons or non links
    tabindex: props.disabled && !button ? '-1' : tabindex,
    role: role.value,
    ...linkProps,
  }
})

const computedListeners = computed(() => {
  const focusHandlers = isToggle.value
    ? {
        focusin: () => {
          isFocused.value = true
        },
        focusout: () => {
          isFocused.value = false
        },
      }
    : {}

  const keydownListeners =
    role.value === 'button' && !props.disabled
      ? {
          keydown: (e: KeyboardEvent) => {
            if (e.key !== 'space') {
              return
            }
            e.preventDefault()
            ;(e.currentTarget as HTMLElement)?.click()
          },
        }
      : {}

  return {
    ...focusHandlers,
    ...keydownListeners,
    click(event: MouseEvent) {
      if (props.disabled) {
        event.stopPropagation()
        event.preventDefault()
      }
      if (isToggle.value) {
        emit('update:pressed', !props.pressed)
      }
    },
  }
})
</script>
