<template>
  <b-tbody>
    <b-tr v-if="$slots[SLOT_NAME_TABLE_BUSY]" class="b-table-busy-slot" v-bind="busyTrProps">
      <b-td :colspan="fields.length ?? null">
        <slot :name="SLOT_NAME_TABLE_BUSY" />
      </b-td>
    </b-tr>
    <template v-else>
      <b-tr v-if="!isStacked && $slots[SLOT_NAME_TOP_ROW]" class="b-table-top-row">
        <slot :name="SLOT_NAME_TOP_ROW" :columns="fields.length" :fields="fields" />
      </b-tr>
      <b-v-tbody-row v-for="(item, idx) in items" :key="idx" :item="item" :row-index="idx">
        <template v-if="$slots[SLOT_NAME_ROW_DETAILS]" #[SLOT_NAME_ROW_DETAILS]="scope">
          <slot :name="SLOT_NAME_ROW_DETAILS" v-bind="scope" />
        </template>
        <template v-for="slot of bodySlots" #[slot]="scope">
          <slot :name="slot" v-bind="scope" />
        </template>
      </b-v-tbody-row>
      <b-tr v-if="!isStacked && $slots[SLOT_NAME_BOTTOM_ROW]" class="b-table-bottom-row">
        <slot :name="SLOT_NAME_BOTTOM_ROW" :columns="fields.length" :fields="fields" />
      </b-tr>
    </template>
  </b-tbody>
</template>
<script setup lang="ts">
import { computed, useSlots } from 'vue'
import BVTbodyRow from './BVTbodyRow.vue'
import BTbody from '../BTbody.vue'
import BTr from '../BTr.vue'
import BTd from '../BTd.vue'
import {
  SLOT_NAME_TABLE_BUSY,
  SLOT_NAME_TOP_ROW,
  SLOT_NAME_BOTTOM_ROW,
  SLOT_NAME_ROW_DETAILS,
} from '../../../constants/slots'
import { useTableStylingContext } from '../composables/useTableStyling'
import { useFieldsContext } from '../composables/useFields'
import { useItemsContext } from '../composables/useItems'
import { useBusyContext } from '../composables/useBusy'

const { busyTrProps } = useBusyContext()
const { isStacked } = useTableStylingContext()
const { fields } = useFieldsContext()
const { items } = useItemsContext()

const slots = useSlots()
const bodySlots = computed(() => Object.keys(slots).filter((slot) => slot.startsWith('cell(')))
</script>
