<template>
  <b-tr
    :id="rowId"
    :key="rowKey"
    :class="classes"
    :v-bind="rowAttrs"
    :variant="(item[FIELD_KEY_ROW_VARIANT] as string) ?? null"
  >
    <b-v-tbody-row-cell
      v-for="(field, idx) in fields"
      :key="idx"
      :field="field"
      :item="item"
      :row-index="rowIndex"
      :col-index="idx"
      :has-details="hasDetailsSlot"
      :toggle-details="() => toggleDetails(item)"
    >
      <template #default="slotScope">
        <slot
          v-if="slotNameForCell(field)"
          :name="slotNameForCell(field)"
          v-bind="slotScope"
        ></slot>
      </template>
    </b-v-tbody-row-cell>
  </b-tr>
  <template v-if="hasDetailsSlot">
    <template v-if="isDetailsOpen">
      <tr v-if="striped" class="d-none" aria-hidden="true" role="presentation"></tr>
      <b-tr
        class="b-table-details"
        :variant="(item[FIELD_KEY_ROW_VARIANT] as string) ?? null"
        v-bind="detailsTrAttrs"
      >
        <b-td :colspan="fields.length" :class="detailsTdClass">
          <slot
            :name="[SLOT_NAME_ROW_DETAILS]"
            :item="item"
            :fields="fields"
            :index="rowIndex"
            :toggle-details="() => toggleDetails(item)"
            v-bind="extraDetailsSlotScope(rowIndex)"
          />
        </b-td>
      </b-tr>
    </template>
  </template>
</template>

<script setup lang="ts">
import { useSlots, computed, PropType } from 'vue'

import BTr from '../BTr.vue'
import BTd from '../BTd.vue'
import BVTbodyRowCell from './BVTbodyRowCell.vue'

import { useSharedTablePropsContext } from '../composables/useSharedTableProps'
import { useTableStylingContext } from '../composables/useTableStyling'
import { useTableEventsContext } from '../composables/useTableEvents'
import { useFieldsContext } from '../composables/useFields'
import { useItemsContext } from '../composables/useItems'
import { useSelectableContext } from '../composables/useSelectable'
import { SLOT_NAME_ROW_DETAILS } from '../../../constants/slots'
import { FIELD_KEY_SHOW_DETAILS, FIELD_KEY_ROW_VARIANT } from '../utils/constants'
import { toString } from '../../../utils/string'
import { NormalizedField } from '../utils/normalizeFields'

const props = defineProps({
  item: { type: Object as PropType<Record<string, unknown>>, required: true },
  rowIndex: { type: Number, required: true },
})

const { fields } = useFieldsContext()

const slots = useSlots()
const hasDetailsSlot = computed(() => Boolean(slots[SLOT_NAME_ROW_DETAILS]))
const isDetailsOpen = computed(() => Boolean(props.item[FIELD_KEY_SHOW_DETAILS]))

const { tbodyTrClass, tbodyTrAttr, detailsTdClass, striped } = useSharedTablePropsContext()
const { handlers } = useTableEventsContext()
const { safeId } = useTableStylingContext()
const detailsId = computed(() =>
  isDetailsOpen.value ? safeId.value(`_details_${props.rowIndex}_`) : null
)

const {
  supportsSelectableRows,
  hasSelectableRowClick,
  isRowSelected,
  selectRow,
  unselectRow,
  selectableRowClasses,
  selectableRowAttrs,
} = useSelectableContext()

const classes = computed(() => [
  tbodyTrClass.value(props.item, 'row'),
  selectableRowClasses(props.rowIndex),
  {
    'b-table-has-details': isDetailsOpen.value,
  },
])

const { primaryKey } = useItemsContext()

const primaryKeyValue = computed(
  () => (primaryKey.value && toString(props.item[primaryKey.value])) || null
)
const rowKey = computed(() => primaryKeyValue.value || toString(props.rowIndex))
const rowId = computed(() =>
  primaryKeyValue.value ? safeId.value(`_row_${primaryKeyValue.value}`) : null
)

// FIXME:
// Calculate the row number in the dataset (indexed from 1)
// let ariaRowIndex = null
// if (currentPage && perPage && perPage > 0) {
//   ariaRowIndex = String((currentPage - 1) * perPage + rowIndex + 1)
// }

const ariaRowIndex = computed(() => String(props.rowIndex + 1))

const hasRowClickHandler = computed(
  () => handlers.value.onRowClicked || hasSelectableRowClick.value
)

const rowAttrs = computed(() => ({
  ...tbodyTrAttr.value(props.item, 'row'),
  tabindex: hasRowClickHandler.value ? '0' : null,
  'data-pk': primaryKeyValue.value || null,
  'aria-details': detailsId,
  'aria-owns': detailsId,
  'aria-rowindex': ariaRowIndex,
  ...selectableRowAttrs(props.rowIndex),
}))

const detailsTrAttrs = computed(() => ({
  class: tbodyTrClass.value(props.item, SLOT_NAME_ROW_DETAILS),
  ...tbodyTrAttr.value(props.item, SLOT_NAME_ROW_DETAILS),
  id: detailsId,
  tabindex: '-1',
}))

const toggleDetails = (item: Record<string, unknown>) => {
  if (hasDetailsSlot.value) {
    item[FIELD_KEY_SHOW_DETAILS] = !item[FIELD_KEY_SHOW_DETAILS]
  }
}

const extraDetailsSlotScope = (rowIndex: number) => {
  return supportsSelectableRows.value
    ? {
        rowSelected: isRowSelected(rowIndex),
        selectRow: () => selectRow(rowIndex),
        unselectRow: () => unselectRow(rowIndex),
      }
    : {}
}

const getCellSlotName = (value?: string) => `cell(${value || ''})`
const slotNameForCell = (field: NormalizedField) =>
  [getCellSlotName(field.key), getCellSlotName(field.key.toLowerCase()), getCellSlotName()].filter(
    (slotName) => slotName in slots
  )[0]
</script>
