<template>
  <component :is="tag" v-bind="attrs">
    <div v-if="isStacked">
      <slot v-bind="slotScope">{{ formattedValue }} </slot>
    </div>
    <slot v-else v-bind="slotScope">{{ formattedValue }} </slot>
  </component>
</template>

<script setup lang="ts">
import { computed, PropType } from 'vue'

import BTd from '../BTd.vue'
import BTh from '../BTh.vue'

import { useTableStylingContext } from '../composables/useTableStyling'
import { useSharedTablePropsContext } from '../composables/useSharedTableProps'
import { useSelectableContext } from '../composables/useSelectable'
import { lookupValueFromParent } from '../composables/useLookupValueFromParent'

import { FIELD_KEY_CELL_VARIANT, FIELD_KEY_SHOW_DETAILS } from '../utils/constants'
import { NormalizedField } from '../utils/normalizeFields'

import { toString } from '../../../utils/string'
import { useFieldsContext } from '../composables/useFields'

const props = defineProps({
  item: { type: Object as PropType<Record<string, unknown>>, required: true },
  field: { type: Object as PropType<NormalizedField>, required: true },
  rowIndex: { type: Number, required: true },
  colIndex: { type: Number, required: true },
  hasDetails: { type: Boolean, required: true },
  toggleDetails: { type: Function as PropType<() => void>, required: true },
})

const { getFormattedValue } = useFieldsContext()
const { stickyHeader } = useSharedTablePropsContext()
const { isStacked, isResponsive, isDark } = useTableStylingContext()
const { supportsSelectableRows, isRowSelected, selectRow, unselectRow } = useSelectableContext()

const stickyColumn = computed(
  () => !isStacked.value && (isResponsive.value || stickyHeader.value) && props.field.stickyColumn
)

// We only uses the helper components for st  icky columns to
// improve performance of BTable/BTableLite by reducing the
// total number of vue instances created during render
const tag = computed(() =>
  stickyColumn.value ? (props.field.isRowHeader ? BTh : BTd) : props.field.isRowHeader ? 'th' : 'td'
)

const formattedValue = computed(() => getFormattedValue(props.item, props.field))

const cellVariant = computed(
  () =>
    (props.item[FIELD_KEY_CELL_VARIANT] as Record<string, string>)?.[props.field.key] ||
    props.field.variant ||
    null
)

const attrs = computed(() => {
  const lookupArgs = [props.item[props.field.key], props.field.key, props.item] as const

  return {
    ...(props.field.isRowHeader
      ? lookupValueFromParent(props.field.thAttr)(...lookupArgs, 'row') ?? {}
      : lookupValueFromParent(props.field.tdAttr)(...lookupArgs) ?? {}),
    class: [
      props.field.class ?? '',
      lookupValueFromParent(props.field.tdClass)(...lookupArgs) ?? '',
      {
        [`${isDark.value ? 'bg' : 'table'}-${cellVariant.value}`]: Boolean(
          !stickyColumn.value && cellVariant.value
        ),
      },
    ],
    ...(stickyColumn.value
      ? {
          // We are using the helper BTd or BTh
          stackedHeading: isStacked.value ? props.field.label : null,
          stickyColumn: true,
          variant: cellVariant.value,
        }
      : {
          // Using native TD or TH element, so we need to
          // add in the attributes and variant class
          'data-label':
            isStacked.value && props.field.label !== null ? toString(props.field.label) : null,
          role: props.field.isRowHeader ? 'rowheader' : 'cell',
          scope: props.field.isRowHeader ? 'row' : null,
        }),
  }
})

const toggleDetailsHandler = () => {
  if (props.hasDetails) {
    props.toggleDetails()
  }
}

const slotScope = computed(() => ({
  items: props.item,
  index: props.rowIndex,
  field: props.field,
  unformatted: props.item[props.field.key] || '',
  value: formattedValue.value,
  toggleDetails: toggleDetailsHandler,
  detailsShowing: Boolean(props.item[FIELD_KEY_SHOW_DETAILS]),
  ...(supportsSelectableRows.value
    ? {
        rowSelected: isRowSelected(props.rowIndex),
        selectRow: () => selectRow(props.rowIndex),
        unselectRow: () => unselectRow(props.rowIndex),
      }
    : {}),
}))
</script>
