<template>
  <component :is="tag" :class="cellClasses" v-bind="cellAttrs">
    <div v-if="isStackedCell"><slot /></div>
    <slot v-else />
  </component>
</template>

<script lang="ts">
export default { inheritAttrs: false }
</script>

<script setup lang="ts">
import { toString } from '../../../utils/string'
import { useAttrs, computed, PropType } from 'vue'
import { props as tdProps } from '../BTd.props'
import { useTableStylingContext } from '../composables/useTableStyling'
import { useTableRowGroupContext } from '../composables/useTableRowGroupContext'
import { useTableRowContext } from '../composables/useTableRowContext'
import { parseSpan } from '../utils/parseSpan'

const props = defineProps({
  tag: { type: String as PropType<'td' | 'th'>, default: 'td' },
  ...tdProps,
})

const { isStacked } = useTableStylingContext()
const { isStickyHeader, rowGroupVariant, tablePart } = useTableRowGroupContext()
const { rowVariant } = useTableRowContext()

const isStackedCell = computed(() => tablePart === 'tbody' && isStacked.value)

const computedColspan = computed(() => parseSpan(props.colspan))
const computedRowspan = computed(() => parseSpan(props.rowspan))

const cellAttrs = computed(() => {
  const headOrFoot = tablePart === 'thead' || tablePart === 'tfoot'

  const colspan = computedColspan.value
  const rowspan = computedRowspan.value

  const headScope = (colspan ?? 0) > 0 ? 'colspan' : 'col'
  const thScope = (rowspan ?? 0) > 0 ? 'rowgroup' : 'row'
  const scope = headOrFoot ? headScope : props.tag === 'th' ? thScope : null

  return {
    // Make sure col/rowspan's are > 0 or null
    colspan,
    rowspan,
    role: headOrFoot ? 'columnheader' : 'cell',
    scope,
    ...useAttrs(),
    'data-label':
      isStackedCell.value && props.stackedHeading != null ? toString(props.stackedHeading) : null,
  }
})

const { headVariant, isDark, tableVariant, isResponsive, hasStickyHeader } =
  useTableStylingContext()

// Needed to handle background classes, due to lack of
// background color inheritance with Bootstrap v4 table CSS
// Sticky column cells are only available in responsive
// mode (horizontal scrolling) or when sticky header mode
// Applies to cells in `thead`, `tbody` and `tfoot`
const isStickyColumn = computed(
  () => !isStacked.value && (isResponsive.value || hasStickyHeader.value) && props.stickyColumn
)

const cellClasses = computed(() => {
  const isInHeaderOrFooter = tablePart === 'thead' || tablePart === 'tfoot'
  const isInTBody = tablePart === 'tbody'

  const variant =
    (!props.variant && isStickyHeader.value && !headVariant) ||
    (!props.variant && isStickyColumn && isInHeaderOrFooter && !rowGroupVariant.value) ||
    (!props.variant && isStickyColumn && isInTBody)
      ? rowVariant.value || tableVariant?.value || 'b-table-default'
      : props.variant

  return {
    [`${isDark.value ? 'bg' : 'table'}-${variant}`]: variant,
    [`${isDark.value ? 'text' : 'table'}-${variant}`]: variant,
    'b-table-sticky-column': isStickyColumn.value,
  }
})
</script>
