<template>
  <component :is="tag" v-if="text || hasSlotContent">
    <slot>{{ text }}</slot>
  </component>
  <component :is="tag" v-else-if="html" v-html="html"></component>
</template>

<script setup lang="ts">
import { useSlots, Comment, computed, Fragment, VNodeArrayChildren } from 'vue'
import { isPrimitive } from '../../utils/inspect'

defineProps({
  tag: { type: String, required: true },
  html: { type: String, default: undefined },
  text: { type: String, default: undefined },
})

const isEmpty = (vnodes: VNodeArrayChildren): boolean =>
  vnodes.every((vnode) => {
    if (Array.isArray(vnode)) {
      return isEmpty(vnode)
    }

    if (isPrimitive(vnode)) {
      return false
    }

    if (vnode == null || vnode.type === Comment) {
      return true
    }

    if (vnode.type === Fragment) {
      if (Array.isArray(vnode.children)) {
        return isEmpty(vnode.children)
      }
      if (vnode.children === null) {
        return true
      }

      return false
    }

    return false
  })

const hasSlotContent = computed(() => {
  const { default: defaultSlot } = useSlots()
  return defaultSlot && !isEmpty(defaultSlot())
})
</script>
