<template>
  <b-v-table-wrapper :class="wrapperClasses" :style="wrapperStyles">
    <b-v-table class="table b-table" :class="classes" v-bind="{ ...tableAttrs, ...$attrs }">
      <template v-for="(_, slot) of $slots" #[slot]="scope">
        <slot :name="slot" v-bind="scope" />
      </template>
    </b-v-table>
  </b-v-table-wrapper>
</template>
<script lang="ts">
export default { inheritAttrs: false }
</script>
<script setup lang="ts">
import { computed } from 'vue'

import BVTableWrapper from './components/BVTableWrapper.vue'
import BVTable from './components/BVTable.vue'

import { useStacked } from './composables/useStacked'
import { useFields } from './composables/useFields'
import { useTableStyling } from './composables/useTableStyling'
import { useSharedTableProps } from './composables/useSharedTableProps'
import { provideTableEventsContext } from './composables/useTableEvents'

import { NormalizedField } from './utils/normalizeFields'

import { props as propsConfig } from './BTableLite.props'
import { useItems } from './composables/useItems'
import { registerInstanceForParentLookup } from './composables/useLookupValueFromParent'

const props = defineProps(propsConfig)

const emit = defineEmits<{
  (
    e: 'head-clicked',
    key?: string,
    field?: NormalizedField,
    event?: MouseEvent,
    isFoot?: boolean
  ): void
  (e: 'update:busy', value: boolean): void
}>()

provideTableEventsContext(props, emit)
registerInstanceForParentLookup()

const { items } = useItems(
  props,
  computed(() => props.items ?? [])
)

useSharedTableProps(props)
useFields(props, { items })
const { wrapperClasses, wrapperStyles, tableClasses, tableAttrs, isStacked } =
  useTableStyling(props)
const { stackedTableClasses } = useStacked({ isStacked })

const classes = computed(() => [...tableClasses.value, stackedTableClasses.value])
</script>
