<template>
  <component :is="computedTag" role="rowgroup" v-bind="tbodyProps" v-on="handlers">
    <slot />
  </component>
</template>
<script setup lang="ts">
import { computed } from '@vue/reactivity'
import { provideTableRowGroupContext } from './composables/useTableRowGroupContext'
import { useSharedTablePropsContext } from './composables/useSharedTableProps'

const { tbodyTransitionHandlers, tbodyTransitionProps } = useSharedTablePropsContext()

const isTransitionGroup = computed(
  () => tbodyTransitionProps.value || tbodyTransitionHandlers.value
)
const computedTag = computed(() => (isTransitionGroup.value ? 'transition-group' : 'tbody'))
const tbodyProps = computed(() =>
  tbodyTransitionProps.value
    ? {
        ...tbodyTransitionProps.value,
        tag: 'tbody',
      }
    : {}
)

const handlers = computed(() => tbodyTransitionHandlers.value ?? {})
provideTableRowGroupContext({
  isStickyHeader: computed(() => false),
  rowGroupVariant: computed(() => null),
  tablePart: 'tbody',
})
</script>
