<template>
  <b-v-td tag="td" v-bind="props">
    <slot />
  </b-v-td>
</template>
<script setup lang="ts">
import BVTd from './components/BVTd.vue'
import { props as propsConfig } from './BTd.props'

const props = defineProps(propsConfig)
</script>
