<template>
  <thead
    role="rowgroup"
    :class="{
      [`thead-${headVariant}`]: headVariant,
    }"
  >
    <slot></slot>
  </thead>
</template>
<script setup lang="ts">
import { computed } from '@vue/reactivity'
import { useTableStylingContext } from './composables/useTableStyling'
import { provideTableRowGroupContext } from './composables/useTableRowGroupContext'

const props = defineProps({
  headVariant: { type: String },
})

const { isStacked, hasStickyHeader } = useTableStylingContext()
provideTableRowGroupContext({
  isStickyHeader: computed(() => !isStacked.value && hasStickyHeader.value),
  rowGroupVariant: computed(() => props.headVariant),
  tablePart: 'thead',
})
</script>
